html,
body {
  width: 100%;
  font-family: 'Helvetica';
}

.banner .swiper-container {
  width: 100%;
  height: 388px;
}

.banner .swiper-container img {
  width: 100%;
  height: 100%;
}

.banner .swiper-container .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 1;
}

.banner .swiper-container .swiper-pagination-bullet-active {
  opacity: 1;
  background: #c01414;
}

.banner .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}

.banner .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

main {
  width: 100%;
  background: #F4F4F4;
  padding-bottom: 40px;
}

main .content {
  overflow: hidden;
}

main .content .main-box-buying {
  margin-top: 40px;
}

main .content .main-box-buying .main-box-bottom {
  width: 100%;
  margin-top: 20px;
  background: #fff;
  display: flex;
  text-align: center;
}

main .content .main-box-buying .main-box-bottom .box-bottom-left {
  width: 216px;
  height: 276px;
  padding: 48px 15px 24px;
  box-sizing: border-box;
  background: url("../images/shouye/asset 52.jpeg") no-repeat;
}

main .content .main-box-buying .main-box-bottom .box-bottom-left p:nth-child(1) {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

main .content .main-box-buying .main-box-bottom .box-bottom-left p:nth-child(2) {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

main .content .main-box-buying .main-box-bottom .box-bottom-left i {
  width: 19px;
  height: 29px;
  display: inline-block;
  margin: 16px 0;
}

main .content .main-box-buying .main-box-bottom .box-bottom-left i img {
  width: 100%;
  height: 100%;
}

main .content .main-box-buying .main-box-bottom .box-bottom-left p:nth-child(4) {
  font-size: 16px;
  color: #fff;
  text-align: center;
}

main .content .main-box-buying .main-box-bottom .box-bottom-left .count-down {
  margin-top: 12px;
}

main .content .main-box-buying .main-box-bottom .box-bottom-left .count-down span {
  margin: 0 2px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  font-weight: bold;
  line-height: 40px;
  color: #fff;
  text-align: center;
  display: inline-block;
  background: #c01414;
  position: relative;
}

main .content .main-box-buying .main-box-bottom .box-bottom-left .count-down span::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #F0B14E;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

main .content .main-box-buying .main-box-bottom .box-bottom-right {
  width: 984px;
  height: 276px;
}

main .content .main-box-buying .main-box-bottom .box-bottom-right .swiper-container {
  width: 100%;
  height: 100%;
  background: #fff;
}

main .content .main-box-buying .main-box-bottom .box-bottom-right .icon-shangyiye {
  width: 19px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  background: #d9d9d9;
  margin-left: -10px;
}

main .content .main-box-buying .main-box-bottom .box-bottom-right .icon-shangyiye:hover,
main .content .main-box-buying .main-box-bottom .box-bottom-right .icon-xiayiye:hover {
  background: #333;
}

main .content .main-box-buying .main-box-bottom .box-bottom-right .icon-xiayiye {
  width: 19px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  background: #d9d9d9;
  margin-right: -10px;
}

main .content .main-box-buying .main-box-bottom .box-bottom-right .swiper-slide {
  position: relative;
  padding: 15px 22px;
  box-sizing: border-box;
  font-size: 18px;
  background: #fff;
  cursor: pointer;
  /* Center slide text vertically */
}

main .content .main-box-buying .main-box-bottom .box-bottom-right .swiper-slide .swiper-box {
  width: 160px;
  height: 160px;
  margin-left: 20px;
  text-align: center;
}

main .content .main-box-buying .main-box-bottom .box-bottom-right .swiper-slide .swiper-box img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

main .content .main-box-buying .main-box-bottom .box-bottom-right .swiper-slide .swiper-box img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

main .content .main-box-buying .main-box-bottom .box-bottom-right .swiper-slide p:nth-child(2) {
  margin-top: 8px;
  text-align: left;
  font-size: 16px;
  color: #333;
}

main .content .main-box-buying .main-box-bottom .box-bottom-right .swiper-slide p:nth-child(3) {
  text-align: left;
}

main .content .main-box-buying .main-box-bottom .box-bottom-right .swiper-slide p:nth-child(3) span {
  font-size: 18px;
  color: #c01414;
  margin-top: 4;
}

main .content .main-box-buying .main-box-bottom .box-bottom-right .swiper-slide p:nth-child(3) s {
  font-size: 14px;
  color: #666666;
  margin-left: 10px;
  text-decoration: line-through;
}

main .content .main-box-buying .main-box-bottom .box-bottom-right .swiper-slide::after {
  content: "";
  width: 1px;
  height: 100%;
  display: inline-block;
  background: #F4F4F4;
  position: absolute;
  right: -1px;
  top: 0;
  z-index: 5;
}

main .content .main-box-buying .main-box-bottom .box-bottom-right .swiper-slide:hover p:nth-child(2) {
  color: #c01414;
}

.main-box-top {
  width: 100%;
  padding: 16px 30px;
  background: #fff;
  position: relative;
}

.main-box-top h3 {
  text-align: center;
  font-size: 0;
}

.main-box-top h3 span:nth-child(1) {
  font-size: 22px;
  color: #333;
}

.main-box-top h3 span:nth-child(2) {
  font-size: 22px;
  color: #c01414;
}

.main-box-top .english-name {
  font-size: 14px;
  color: #666;
  text-align: center;
  letter-spacing: 5px;
}

.main-box-top .main-more {
  position: absolute;
  top: 50%;
  right: 90px;
  transform: translateY(-50%);
  cursor: pointer;
}

.main-box-top .main-more span:nth-child(1) {
  color: #333;
  vertical-align: middle;
}

.main-box-top .main-more span:nth-child(2) {
  font-size: 18px;
  color: #c01414;
  vertical-align: middle;
}

.main-box-top .main-more span:nth-child(1):hover {
  color: #c01414;
}

.main-content {
  margin-top: 40px;
}

.main-content .main-content-bottom {
  margin-top: 20px;
  display: flex;
}

.main-content .main-content-bottom .main-content-bar .swiper-container {
  width: 215px;
  height: 610px;
  cursor: pointer;
}

.main-content .main-content-bottom .main-content-bar .swiper-container img {
  width: 100%;
  height: 100%;
}

.main-content .main-content-bottom .main-content-bar .swiper-container .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 1;
}

.main-content .main-content-bottom .main-content-bar .swiper-container .swiper-pagination-bullet-active {
  opacity: 1;
  background: #c01414;
}

.main-content .main-content-bottom .main-content-bar .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}

.main-content .main-content-bottom .main-content-bar .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.main-content .main-content-bottom .main-content-shops {
  width: 100%;
  height: 610px;
  background: #F4F4F4;
}

.main-content .main-content-bottom .main-content-shops .shops-message {
  width: 100%;
  height: 610px;
  display: flex;
  flex-wrap: wrap;
}

.main-content .main-content-bottom .main-content-shops .shops-message li {
  width: 232px;
  height: 297px;
  padding: 18px 20px;
  box-sizing: border-box;
  background: #fff;
  margin: 0 0 16px 14px;
  text-align: center;
  cursor: pointer;
}

.main-content .main-content-bottom .main-content-shops .shops-message li .shopsimg-box {
  width: 176px;
  height: 176px;
  display: inline-block;
}

.main-content .main-content-bottom .main-content-shops .shops-message li .shopsimg-box img {
  width: 100%;
  height: 100%;
}

.main-content .main-content-bottom .main-content-shops .shops-message li .shopsimg-box img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.main-content .main-content-bottom .main-content-shops .shops-message li p:nth-child(2) {
  margin-top: 8px;
  text-align: left;
  font-size: 16px;
  color: #333;
}

.main-content .main-content-bottom .main-content-shops .shops-message li p:nth-child(3) {
  margin-top: 4px;
  text-align: left;
}

.main-content .main-content-bottom .main-content-shops .shops-message li p:nth-child(3) span {
  font-size: 18px;
  color: #c01414;
  margin-top: 4;
}

.main-content .main-content-bottom .main-content-shops .shops-message li p:nth-child(3) s {
  font-size: 14px;
  color: #666666;
  margin-left: 10px;
  text-decoration: line-through;
}

.main-content .main-content-bottom .main-content-shops .shops-message li p:nth-child(4) {
  margin-top: 4px;
  position: relative;
}

.main-content .main-content-bottom .main-content-shops .shops-message li p:nth-child(4) span:nth-child(1) {
  font-size: 14px;
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
}

.main-content .main-content-bottom .main-content-shops .shops-message li p:nth-child(4) span:nth-child(2) img:nth-child(1) {
  position: absolute;
  top: 0;
  right: 16px;
}

.main-content .main-content-bottom .main-content-shops .shops-message li p:nth-child(4) span:nth-child(2) img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
}

.main-content .main-content-bottom .main-content-shops .shops-message li:hover p:nth-child(2) {
  color: #c01414;
}

.presentation-img {
  margin-top: 40px;
}

.presentation-img .content {
  height: 117px;
  cursor: pointer;
}

.main-finebox .main-content-bottom .main-content-shops .shops-message li .shopsimg-box {
  width: 192px;
  height: 192px;
}

.main-finebox .main-content-bottom .main-content-shops .shops-message li .shopsimg-box img {
  width: 100%;
  height: 100%;
}

.new-product .main-content-bottom .main-content-shops .shops-message li p:nth-child(3) span:nth-child(1) {
  font-size: 18px;
  color: #333;
}

.new-product .main-content-bottom .main-content-shops .shops-message li p:nth-child(3) span:nth-child(2) {
  font-size: 18px;
  color: #c01414;
}

.new-product .main-content-bottom .main-content-shops .shops-message li p:nth-child(3) span:nth-child(1):hover {
  color: #777777;
}
