* {
    margin: 0;
    padding: 0;
}

main {
    background: #f4f4f4;
    padding: 30px 0;
}

#shoppingcart {
    width: 1200px;
    height: 100%;
    margin: auto;
}

.head {
    line-height: 60px;
    background: #FCFCFC;
    padding-left: 20px;
}

.head .checkall {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: solid 1px #ddd;
    border-radius: 3px;
    margin-right: 10px;
}

.head span {
    font-size: 14px;
    color: #000000;
    display: inline-block;
}

.head span:nth-child(2) {
    width: 80px;
}

.head span:nth-child(3) {
    width: 450px;
    padding-left: 10px;
    box-sizing: border-box;
}

.head span:nth-child(4) {
    width: 140px;
    padding-left: 10px;
    box-sizing: border-box;
}

.head span:nth-child(5) {
    width: 140px;
    padding-left: 10px;
    box-sizing: border-box;
}

.head span:nth-child(6) {
    width: 170px;
    padding-left: 10px;
    box-sizing: border-box;
    text-align: center;
}

.head span:nth-child(7) {
    width: 140px;
    padding-left: 10px;
    box-sizing: border-box;
    text-align: center;
}

.main {
    background: #fff;
}

.null {
    width: 1200px;
    height: 482px;
    margin: auto;
    padding: 20px 10px 20px 20px;
    box-sizing: border-box;
    background: #fff;
    display: none;
}

.null .null-img {
    margin-top: 10px;
    width: 381px;
    height: 366px;
    margin: auto;
}

.null .null-img img {
    width: 100%;
    height: 100%;
}

.null p {
    padding: 20px 0;
    font-size: 20px;
    color: #c01414;
    text-align: center;
}

.main ul {
    display: flex;
    width: 1200px;
    height: 140px;
    border-top: solid 1px #eee;
    padding-top: 20px;
    box-sizing: border-box;
}

.main ul li {
    width: 100%;
    list-style: none;
    position: relative;
}

.main ul .everyChecks {
    width: 20px;
    padding: 0 15px 0 20px;
}

.main .checks {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: solid 1px #ddd;
    border-radius: 3px;
}

.headline {
    display: flex;
}

.headline i {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #fff;
    vertical-align: top;
}

.headline i img {
    width: 100%;
    height: 100%;
}

.headline p {
    margin-left: 15px;
    width: 454px;
    font-size: 14px;
    color: #333333;
}

.price {
    font-size: 18px;
    color: #333333;
}

.number {
    padding-left: 40px;
    font-size: 0;
}

.number .shuliang {
    width: 60px;
    height: 26px;
    border: 1px solid #eee;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
}

.number .cut {
    width: 28px;
    height: 28px;
    font-size: 20px;
    color: #999;
    line-height: 28px;
    text-align: center;
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 0 3px 3px 0;
    vertical-align: middle;
    border-right: none;
    cursor: pointer;
}

.number .add {
    width: 28px;
    height: 28px;
    font-size: 20px;
    color: #999;
    line-height: 28px;
    text-align: center;
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 0 3px 3px 0;
    vertical-align: middle;
    border-left: none;
    cursor: pointer;
}

.subtotal {
    font-size: 18px;
    color: #c01414;
    position: absolute;
    top: 0;
    left: -8px;
}

.handle span:first-child {
    width: 50px;
    display: block;
    font-size: 12px;
    color: #333333;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 30px;
}

.handle span:last-child {
    width: 50px;
    display: block;
    font-size: 12px;
    color: #333333;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
}

.handle span:hover {
    color: #c01414;
}

.foot {
    width: 1200px;
    height: 60px;
    font-size: 14px;
    background: #FCFCFC;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    position: relative;
}

.checkplus {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: solid 1px #ddd;
    border-radius: 3px;
    margin-right: 10px;
}

.foot span:nth-child(2) {
    font-size: 14px;
    color: #000000;
}

.foot span:nth-child(3) {
    margin-left: 26px;
    font-size: 14px;
    color: #999999;
}

.foot span:nth-child(3):hover {
    color: #c01414;
}

.prisum {
    display: flex;
    position: absolute;
    right: 120px;
    padding-right: 16px;
}

.prisum p:nth-child(1) {
    font-size: 14px;
    color: #999999;
    line-height: 60px;
}

.prisum p:nth-child(1) span {
    font-size: 14px;
    color: #c01414;
    padding: 0 4px;
}

.prisum p:nth-child(2) {
    margin-left: 40px;
    font-size: 14px;
    color: #000000;
    line-height: 60px;
    margin-top: -5px;
    position: relative;
}

.prisum p:nth-child(2) span {
    font-size: 24px;
    color: #c01414;
}

.totalPrices::before {
    content: "¥";
    font-size: 18px;
    color: #c01414;
    padding: 0 4px;
}

.checkOut {
    width: 120px;
    height: 100%;
    font-size: 20px;
    color: #ffff;
    background: #B0B0B0;
    border: none;
    position: absolute;
    right: 0;
}

.delall {
    cursor: pointer;
}

.active {
    background: #c01414;
}