html,
body {
    width: 100%;
    font-family: 'Helvetica';
}

.current-position {
    width: 100%;
    background: #ffffff;

    .content {
        background: #ffffff;
        padding: 13px 0;
    }

    span {
        font-size: 14px;
        color: #333333;
        line-height: 34px;
    }

    span:last-child {
        color: #c01414;
    }
}

main {
    width: 100%;
    padding: 55px 0;
    background: #F4F4F4;

    .content {
        display: flex;

        .main-left {
            width: 214px;
            background: #f4f4f4;

            .main-left-head {
                padding: 18px 0;
                background: #ffffff;

                h5 {
                    font-size: 14px;
                    padding-left: 18px;
                    color: #333333;
                    border-left: solid 2px #c01414;
                }
            }

            .main-left-content {
                background: #fff;
                margin-top: 1px;
                padding-bottom: 35px;

                li {
                    padding: 14px 10px;
                    box-sizing: border-box;
                    background: #ffffff;
                    cursor: pointer;
                    position: relative;

                    .rdshops-box {
                        width: 194px;
                        height: 214px;
                        padding: 10px 0;
                        box-sizing: border-box;
                        margin: auto;

                        img {
                            width: 100%;
                            height: 100%;
                            transition: transform 0.5s;
                        }
                    }

                    .rdshops-box img:hover {
                        transform: scale(1.1);
                    }

                    p:nth-child(2) {
                        text-align: center;
                        font-size: 14px;
                        color: #333333;
                        margin-top: 15px;
                    }

                    p:nth-child(3) {
                        margin-top: 10px;
                        text-align: center;

                        span:nth-child(1) {
                            font-size: 18px;
                            color: #c01414;
                        }

                        span:nth-child(2) {
                            font-size: 14px;
                            color: #666666;
                            padding-left: 8px;
                            text-decoration: line-through;
                        }
                    }
                }

                li::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    display: block;
                    background: #eee;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                li:hover p:nth-child(2) {
                    color: #c01414;
                }

                li:last-child {
                    padding-top: 20px;
                }
            }
        }

        .main-right {
            width: 100%;
            padding-left: 15px;
            box-sizing: border-box;
            background: #F4F4F4;

            .main-right-head {
                border: solid 1px #e3e3e3e3;
                display: flex;
                height: 48px;
                background: #FAFAFA;

                .sort {
                    display: flex;

                    p {
                        width: 119px;
                        text-align: center;
                        border-right: solid 1px #e3e3e3e3;
                        cursor: pointer;

                        span:nth-child(1) {
                            font-size: 14px;
                            color: #666666;
                            line-height: 48px;
                        }

                        span:nth-child(2) {
                            font-size: 12px;
                            color: #666666;
                            line-height: 48px;
                        }
                    }

                    p:first-child span {
                        color: #c01414;
                    }

                    p:hover span {
                        color: #c01414;
                    }
                }

                .pagination {
                    width: 100%;
                    height: 100%;
                    padding-left: 287px;
                    text-align: right;
                    box-sizing: border-box;
                    display: flex;

                    p:nth-child(1) {
                        font-size: 14px;
                        line-height: 48px;
                        color: #666666;
                        margin-right: 2px;

                        span {
                            color: #c01414;
                        }
                    }

                    p:nth-child(2) {
                        line-height: 48px;

                        span:nth-child(1) {
                            width: 45px;
                            text-align: center;
                            display: inline-block;
                            font-size: 18px;
                            font-weight: bold;
                            color: #666666;
                            cursor: pointer;
                        }

                        span:nth-child(2) {
                            font-size: 14px;
                            color: #c01414;
                        }

                        span:nth-child(3) {
                            font-size: 14px;
                            color: #333333;
                        }

                        span:nth-child(4) {
                            width: 45px;
                            text-align: center;
                            display: inline-block;
                            font-size: 18px;
                            font-weight: bold;
                            color: #666666;
                            cursor: pointer;
                        }

                        span:nth-child(1):hover,
                        span:nth-child(4):hover {
                            background: #F4F4F4;
                        }
                    }
                }
            }

            .main-right-shoplist {
                margin-top: 14px;
                background: #f4f4f4;
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 232px;
                    height: 360px;
                    padding: 18px 20px;
                    box-sizing: border-box;
                    margin: 0 14px 13px 0;
                    background: #ffffff;
                    position: relative;
                    cursor: pointer;

                    .shoplist-box {
                        width: 192px;
                        height: 200px;

                        img {
                            width: 100%;
                            height: 100%;
                            transition: transform 0.5s;
                            cursor: pointer;
                        }
                    }

                    p:nth-child(2) {
                        width: 192px;
                        margin-top: 8px;
                        font-size: 16px;
                        color: #666666;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        cursor: pointer;
                    }

                    p:nth-child(3) {
                        margin-top: 8px;
                        cursor: pointer;

                        span:nth-child(1) {
                            font-size: 22px;
                            color: #c01414;
                        }

                        span:nth-child(2) {
                            margin-left: 14px;
                            font-size: 14px;
                            color: #666666;
                            text-decoration: line-through;
                        }
                    }

                    p:nth-child(4) {
                        margin-top: 4px;
                        font-size: 12px;
                        color: #999999;
                    }

                    p:nth-child(5) {
                        margin-top: 10px;
                        padding-top: 11px;

                        span {
                            font-size: 12px;
                            color: #999999;
                            margin-left: 2px;
                            vertical-align: middle;
                            cursor: pointer;
                        }

                        span:nth-child(1) {
                            font-size: 14px;
                        }

                        span:nth-child(3) {
                            font-size: 16px;
                            margin-left: 14px;
                        }
                    }

                    .boutique {
                        width: 40px;
                        height: 40px;
                        font-size: 12px;
                        color: #fff;
                        line-height: 40px;
                        text-align: center;
                        display: block;
                        border-radius: 50%;
                        background: #00a8ff;
                        position: absolute;
                        top: 2px;
                        right: 4px;
                    }
                }

                li::after {
                    content: "";
                    width: 100%;
                    height: .5px;
                    display: block;
                    background: #eee;
                    position: absolute;
                    bottom: 50px;
                    left: 0;
                }

                li:hover p:nth-child(2) {
                    color: #c01414;
                }

                li:hover .shoplist-box img {
                    transform: scale(1.1);
                }

                li:nth-child(4n) {
                    margin-right: 0;
                }
            }

            .page {
                width: 100%;
                margin-top: 16px;
                height: 84px;
                padding: 22px 0;
                box-sizing: border-box;
                background: #fff;
                display: flex;
                justify-content: center;

                input {
                    width: 90px;
                    height: 40px;
                    font-size: 14px;
                    color: #333333;
                    background: #f6f6ff;
                    border-radius: 20px;
                    margin: 0 5px;
                    cursor: pointer;
                }

                .showcss {
                    color: #bbbbbb !important;
                    cursor: auto !important;
                    background: #f6f6ff !important;
                }

                .altercss {
                    background: #c01414;
                    color: #fff;
                }

                .pagenumber {

                    .pagenumber-box {

                        span {
                            width: 40px;
                            height: 40px;
                            display: inline-block;
                            line-height: 40px;
                            text-align: center;
                            border-radius: 50%;
                            margin: 0 5px;
                            cursor: pointer;
                        }

                        .active {
                            background: #f0b14e;
                            color: #fff;
                        }

                        span:hover {
                            background: #c01414;
                            color: #fff;
                        }
                    }
                }

                .totalpage {
                    margin-left: 15px;
                    font-size: 14px;
                    line-height: 40px;
                    color: #999999;
                }
            }
        }
    }
}