html,
body {
  width: 100%;
  font-family: 'Helvetica';
}

main {
  width: 100%;
  height: 578px;
  position: relative;
  background: url(../images/denglu/bacgd.jpeg) no-repeat;
}

main .form {
  width: 360px;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  padding: 26px;
  box-sizing: border-box;
  background: #fff;
}

main .form .form-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

main .form .form-head h2 {
  font-size: 24px;
  color: #c01414;
  font-weight: bold;
}

main .form .form-head p span {
  font-size: 12px;
  color: #969696;
}

main .form .form-head p a {
  font-size: 12px;
  color: #c01414;
  cursor: pointer;
}

main .form .form-head p span:last-child:hover {
  text-decoration: underline;
}

main .form .form-main p {
  margin-bottom: 10px;
}

main .form .form-main p:last-child {
  margin-bottom: 0;
  margin-top: 16px;
}

main .form .form-main p:nth-child(-n+3) {
  position: relative;
}

main .form .form-main p:nth-child(3),
main .form .form-main p:nth-child(4) {
  font-size: 12px;
  color: #898989;
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

main .form .form-main .icon-uname,
main .form .form-main .icon-psw,
main .form .form-main .icon-yzm {
  font-size: 22px;
  position: absolute;
  top: 10px;
  left: 16px;
  color: #bebebe;
}

main .form .form-main .username,
main .form .form-main .password {
  width: 306px;
  height: 43px;
  padding: 0 20px 0 54px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
  line-height: 43px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
  border: solid 1px #e7e7e7;
}

main .form .form-main .yzm {
  width: 170px;
  height: 43px;
  padding: 0 20px 0 54px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
  line-height: 43px;
  vertical-align: middle;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
  border: solid 1px #e7e7e7;
}

main .form .form-main .yzm-img {
  width: 120px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/zhuce/yzm.jpg);
  cursor: pointer;
}

main .form .form-main .sure {
  width: 306px;
  height: 40px;
  margin: auto;
  font-size: 18px;
  letter-spacing: 6px;
  color: #fff;
  background: #c01414;
}

main .form .form-img {
  position: absolute;
  bottom: 0;
  right: 0;
}
